<h1>Edit Grade</h1>

<%=form_for @grade do |f|%>
  <p>
    <%=f.label :name%><br/>
    <%=f.text_field :name%>
  </p>

  <p>
    <%=f.label :grade%><br/>
    <%=f.text_field :grade%>
  </p>

  <p>
    <%=f.label :pointsposs%><br/>
    <%=f.text_field :pointsposs%>
  </p>

  <p>
    <%=f.label :comment%><br/>
    <%=f.text_area :comment%>
  </p>

  <p>
    <%=f.submit "Edit Grade"%>
  </p>

<%end%>
