<h1>Student's Name</h1>

<% @grades.each do |agrade| %>
  <p><%=link_to agrade.name, agrade%>| <%=agrade.grade%> | <%=agrade.pointsposs%> | <%=agrade.comment%>| <%=link_to "Edit", edit_grade_path(agrade)%> </p>

  <hr/>


<%end%>

<p><%=link_to "Add New Grade",new_grade_path%></p>
