<h1><%= @message.subject %></h1>

<hr>

<p>
  <% if @is_sender %>
    <b>To:</b>
    <%= link_to @receiver_name, user_path(@message.receiver_id) %>
  <% else %>
    <b>From:</b>
    <%= link_to @sender_name, user_path(@message.sender_id) %>
  <% end %>
</p>

<p class="box">
  <%= @message.message %>
</p>

<%= link_to 'Reply', new_message_path %>