Course: <%= @course.name %><br />

<table>
  <tr>
    <th>Type</th>
    <th>Section</th>
    <th>Due date</th>
    <th>Highest grade value</th>
    <th>Weight</th>
    <th></th>
  </tr>

<% if cannot? :manage, Teachergrade %>
  <% @assignments.each do |assignment| %>
    <tr>
      <td><%= assignment.get_type_name %></td>
      <td><%= assignment.section_id %></td>
      <td><%= assignment.due_date %></td>
      <td><%= assignment.highest_grade_value %></td>
      <td><%= assignment.weight %></td>
      <td><%= link_to 'Show', assignment_path(assignment) %> |
        <%= link_to 'Edit', edit_assignment_path(assignment) %></td>
    </tr>
  <% end %>
<% else %>
  <% @assignments.each do |key, section_assignments| %>
    <tr>
      <td><b>Section: <%= @assignments[key][:section].number %></b></td>
    </tr>
    <% @assignments[key][:assignments].each do |assignment| %>
      <tr>
        <td><%= assignment.get_type_name %></td>
        <td><%= assignment.section_id %></td>
        <td><%= assignment.due_date %></td>
        <td><%= assignment.highest_grade_value %></td>
        <td><%= assignment.weight %></td>
        <td><%= link_to 'Show', assignment_path(assignment) %> |
          <%= link_to 'Files', edit_assignment_path(assignment) %> |
          <%= link_to 'Edit', edit_assignment_path(assignment) %></td>
      </tr>
    <% end %>
  <% end %>
<% end %>

</table>