<h1><%= @course.name %> Assignments</h1>

<hr>

<table id="assignments" class="table">
<% @assignments.each do |key, section_assignments| %>
  <% if is_professor? %>
    <tr class="course_section_title_row section_<%= @assignments[key][:section].section_id %>">
      <td width="75%">
        <b>Section <%= @assignments[key][:section].number %></b>
      </td>
      <td width="25%" style="text-align: center;">
        <b><%= link_to 'Create New Assignment', new_assignment_path(:section => @assignments[key][:section].section_id) %></b>
      </td>
    </tr>
  <% end %>
  <tr class="course_section_container_row">
    <td colspan="2">
      <table class="table table-striped">
        <% if @assignments[key][:assignments].length < 1 %>
          <tr>
            <td colspan="6">
              No assignments.
            </td>
          </tr>
        <% else %>
          <% @assignments[key][:assignments].each do |assignment| %>
            <tr>
              <td width="25%"><%= link_to assignment.get_name, assignment_path(assignment) %></td>
              <td width="20%"><%= assignment.get_type_name %></td>
              <td width="20%"><%= assignment.formatted_due_date(date_page_format) %></td>
              <td width="5%"><%= assignment.highest_grade_value %></td>
              <td width="5%"><%= assignment.weight %></td>
              <td width="25%" style="text-align: center;">
                <%= link_to 'Files', files_assignment_path(assignment) %>
                <% if is_professor? %>
                  | <%= link_to 'Config', configs_assignment_path(assignment) %>
                  | <%= link_to 'Edit', edit_assignment_path(assignment) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </td>
  </tr>
<% end %>
</table>