<h1><%= @course.name %> Assignments</h1>

<hr>

<table class="table table-striped">

<% if is_student? %>
  <% @assignments.each do |assignment| %>
    <tr>
      <td width="20%"><%= link_to assignment.get_name, assignment_path(assignment) %></td>
      <td width="20%"><%= assignment.get_type_name %></td>
      <td width="35%"><%= assignment.due_date.strftime(date_page_format) %></td>
      <td width="5%"><%= assignment.highest_grade_value %></td>
      <td width="5%"><%= assignment.weight %></td>
      <td width="25%" style="text-align: center;"><%= link_to 'Files', files_assignment_path(assignment) %></td>
    </tr>
  <% end %>
<% else %>
  <% @assignments.each do |key, section_assignments| %>
    <tr>
      <td colspan="6">
        <div class="left">
          <b>Section: <%= @assignments[key][:section].number %></b>
        </div>
        <div class="right">
          <b><%= link_to 'Create New Assignment', new_assignment_path(:section => @assignments[key][:section].section_id) %></b>
        </div>
      </td>
    </tr>
    <% if @assignments[key][:assignments].length < 1 %>
      <tr>
        <td colspan="6">
          No assignments.
        </td>
      </tr>
    <% else %>
      <% @assignments[key][:assignments].each do |assignment| %>
        <tr>
          <td width="20%"><%= link_to assignment.get_name, assignment_path(assignment) %></td>
          <td width="20%"><%= assignment.get_type_name %></td>
          <td width="25%"><%= assignment.due_date.strftime(date_page_format) %></td>
          <td width="5%"><%= assignment.highest_grade_value %></td>
          <td width="5%"><%= assignment.weight %></td>
          <td width="25%" style="text-align: center;">
            <%= link_to 'Files', files_assignment_path(assignment) %> |
            <%= link_to 'Config', configs_assignment_path(assignment) %> |
            <%= link_to 'Edit', edit_assignment_path(assignment) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
<% end %>

</table>