<h1>Assignments</h1>

<hr>

<table id="assignments" class="table">
<% @assignments.each do |key, section_assignments| %>
  <tr class="course_section_title_row section_<%= @assignments[key][:section].section_id %>">
    <td width="75%" class="course_section_name">
        <b>
          <% link_text = @assignments[key][:course].name %>
          <% link_text += ' - Section ' + @assignments[key][:section].number.to_s if is_professor? %>
          <%= link_to link_text, assignments_path(:course => @assignments[key][:course].course_id) %>
        </b>
    </td>
    <td width="25%" style="text-align: center;">
      <% if is_professor? %>
        <b><%= link_to 'Create New Assignment', new_assignment_path(:section => @assignments[key][:section].section_id) %></b>
      <% end %>
    </td>
  </tr>
  <tr class="course_section_container_row">
    <td colspan="2">
      <div class="slider">
        <table class="table table-striped">
          <% if @assignments[key][:assignments].length < 1 %>
            <tr>
              <td colspan="6">
                No assignments.
              </td>
            </tr>
          <% else %>
            <% @assignments[key][:assignments].each do |assignment| %>
              <tr>
                <td width="25%"><%= link_to assignment.get_name, assignment_path(assignment) %></td>
                <td width="20%"><%= assignment.get_type_name %></td>
                <td width="20%"><%= assignment.formatted_due_date(date_page_format) %></td>
                <td width="5%"><%= assignment.highest_grade_value %></td>
                <td width="5%"><%= assignment.weight %></td>
                <td width="25%" style="text-align: center;">
                  <%= link_to 'Files', files_assignment_path(assignment) %>
                  <% if is_professor? %>
                    | <%= link_to 'Config', configs_assignment_path(assignment) %>
                    | <%= link_to 'Edit', edit_assignment_path(assignment) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </td>
  </tr>
<% end %>
</table>

<script type="text/javascript">

// Remember which assignment sections have been expanded
var assignment_slider_cache = null;
var local_storage_key = 'assignment_section_collapse';
var collapsed = 1;
var visible = 0;

$(document).ready(function() {
  var data = window.localStorage[local_storage_key];

  if(data) {
    assignment_slider_cache = $.parseJSON(data);
  }
  else {
    assignment_slider_cache = {};
  }

  $('#assignments tr.course_section_title_row').each(function() {
    var section_id = $(this).attr('class').match(/section_\d+/i)[0].split("_")[1];

    if(assignment_slider_cache.hasOwnProperty(section_id) &&
      assignment_slider_cache[section_id] == visible) {
      $(this).next().find('div.slider').show();
    }
  });

  $('#assignments tr.course_section_title_row > td').css('cursor','pointer').click(function() {
    var divslider = $(this).parent().next().find('div.slider');
    var section_id = $(this).parent().attr('class').match(/section_\d+/i)[0].split("_")[1];

    if(divslider.is(':hidden')) {
      divslider.slideDown('fast');
      assignment_slider_cache[section_id] = visible;
    }
    else {
      divslider.slideUp('fast');
      assignment_slider_cache[section_id] = collapsed;
    }

    window.localStorage[local_storage_key] = JSON.stringify(assignment_slider_cache);
  });

  // Stop the above click event from happening if a link within is clicked
  $("#assignments a").click(function(event){
    event.stopPropagation();
  });  
});

</script>