<%= simple_form_for(@assignment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :type_id %>
    <%= f.input :section_id %>
    <%= f.input :due_date %>
    <%= f.input :highest_grade_value %>
    <%= f.input :weight %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
