<%= simple_form_for(@assignment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :section_id, :value => @section_id %>
    <%= f.input :name, :autofocus => true %>
    <%= f.input :type_id %>
    <%= f.input :due_date %>
    <%= f.input :highest_grade_value %>
    <%= f.input :weight %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn-primary" %>
  </div>
<% end %>