<h1><%= @assignment.get_name %></h1>

<hr>

<p>
  <b>Type:</b>
  <%= @assignment.get_type_name %>
</p>

<p>
  <b>Due Date:</b>
  <%= @assignment.due_date.strftime('%B %d, %Y at %l:%M %p') %>
</p>

<p>
  <b>Highest Grade Value:</b>
  <%= @assignment.highest_grade_value %>
</p>

<p>
  <b>Weight:</b>
  <%= @assignment.weight %>
</p>

<p class="box">
  <%= simple_format(@assignment.get_description) %>
</p>

<a href="<%= files_assignment_path(@assignment) %>">
  <input class="btn btn-primary" type="button" value="Files" />
</a>

<% if can? :manage, AssignmentConfigUpload %>
  <a href="<%= configs_assignment_path(@assignment) %>">
    <input class="btn btn-primary" type="button" value="Config" />
  </a>
<% end %>

<% if can? :update, @assignment %>
  <a href="<%= edit_assignment_path(@assignment) %>">
    <input class="btn btn-primary" type="button" value="Edit" />
  </a>
<% end %>