<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @assignment.type_id %>
</p>

<p>
  <b>Section:</b>
  <%= @assignment.section_id %>
</p>

<p>
  <b>Due date:</b>
  <%= @assignment.due_date %>
</p>

<p>
  <b>Highest grade value:</b>
  <%= @assignment.highest_grade_value %>
</p>

<p>
  <b>Weight:</b>
  <%= @assignment.weight %>
</p>

<% course = Course.find(params[:course_id].to_i) %>
<% section = Section.find(params[:section_id].to_i) %>

<%= link_to 'Edit', edit_course_section_assignment_path(course, section, @assignment) %>