<h1><%= @assignment.get_name %></h1>

<hr>

<p>
  <b>Type:</b>
  <%= @assignment.get_type_name %>
</p>

<p>
  <b>Due date:</b>
  <%= @assignment.due_date %>
</p>

<p>
  <b>Highest grade value:</b>
  <%= @assignment.highest_grade_value %>
</p>

<p>
  <b>Weight:</b>
  <%= @assignment.weight %>
</p>

<p>
  <%= @assignment.description %>
</p>

<%= link_to 'Files', files_assignment_path(@assignment) %>

<% if can? :update, @assignment %>
 | <%= link_to 'Edit', edit_assignment_path(@assignment) %>
<% end %>