<h1><%= @assignment.get_name %> Grades</h1>

<hr>

<table class="table table-striped">
<% @users.each do |user| %>
  <% grade = AssignmentGrade.find_user_grade(user.user_id, @assignment.assignment_id) %>
  <tr>
    <form name="form" action="/assignment_grades/alter" method="" onsubmit="doStuff(this)">
    <td>
      <input type="hidden" name ="userid" value="<%=user.user_id%>">
      <input type="hidden" name ="assignment" value="<%=@assignment.assignment_id%>">      

    <td width="20%">
      <b><%= user.name %></b>
    </td>
    <td>
      <b><%= grade %></b>
    </td>
    <td>
    grade: <input type="text" name="grade" value="">
    </td>
    <td>
     comment: <input type="text" name="comment" value="">
     </td>
     <td>
      <input type="submit" name ="button" value="Submit">
    </td>
    </form>
    
  </tr>
 <% end %>

</table>

<div id="students_container"></div>

<br style="clear: both;" />

<div id="ajax_errors"></div>

</table>

