
<table>

<% @assignments.each do |assignment| %>
  <tr>
    <td>
      <b><%= assignment.get_name %></b>
    </td>
    <td>
      <b><%= assignment.get_type_name %></b>
    </td>
    <td>
      <b><%= assignment.due_date %></b>
    </td>
    <td>
      <b><%= assignment.highest_grade_value %></b>
    </td>
    <td>
      <b><%= assignment.weight %></b>
    </td>
    <td>
      <%= link_to 'Edit Grades', assignment_grades_path(:assignment => assignment.assignment_id) %>
    </td>
  </tr>
<% end %>

</table>