<h1><%= Course.find_name_by_section_id(params[:section]) %> Grades</h1>

<hr>

<p class="top-right">
  <b>Section <%= Section.find_number_by_section_id(params[:section]) %></b>
</p>

<table class="table table-striped">
<% @assignments.each do |assignment| %>
  <tr>
    <td>
      <b><%= link_to assignment.get_name, assignment_grades_path(:assignment => assignment.assignment_id) %></b>
    </td>
    <td>
      <b><%= assignment.get_type_name %></b>
    </td>
    <td>
      <b><%= assignment.due_date %></b>
    </td>
    <td>
      <b><%= assignment.highest_grade_value %></b>
    </td>
    <td>
      <b><%= assignment.weight %></b>
    </td>
  </tr>
<% end %>
</table>