<h1><%= Course.find_name_by_section_id(params[:section]) %> Grades</h1>

<hr>

<p class="top-right">
  <b>Section <%= Section.find_number_by_section_id(params[:section]) %></b>
</p>

<% if can? :write, AssignmentGrade %>
  <table class="table table-striped">
    <% @assignments.each do |assignment| %>
      <tr>
        <td>
          <b><%= link_to assignment.get_name, assignment_grades_path(:assignment => assignment.assignment_id) %></b>
        </td>
        <td>
          <b><%= assignment.get_type_name %></b>
        </td>
        <td>
          <b><%= assignment.formatted_due_date(date_page_format) %></b>
        </td>
        <td>
          <b><%= assignment.highest_grade_value %></b>
        </td>
        <td>
          <b><%= assignment.weight %></b>
        </td>
      </tr>
    <% end %>
  </table>
<% elsif can? :read, AssignmentGrade %>
  <table class="table table-striped">
    <% @assignments.each do |assignment| %>
      <tr>
        <td>
          <b><%= assignment.get_name %></b>
        </td>
        <td>
          <b><%= assignment.get_type_name %></b>
        </td>
        <td>
          <b><%= assignment.formatted_due_date(date_page_format) %></b>
        </td>
        <td>
          <b><%= assignment.highest_grade_value %></b>
        </td>
        <td>
          <b><%= assignment.weight %></b>
        </td>
        <td>
          <b><%= AssignmentGrade.find_user_grade(current_user.id,assignment.assignment_id) %></b>
        </td>
        <td>
          <b><%= AssignmentGrade.find_user_comment(current_user.id,assignment.assignment_id) %></b>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
