<h1>Edit Grade</h1>

<%=form_for @assignment_grade do |f|%>
   <%@current_user ||= session[:current_user_id]&&User.find_by_id(session[:current_user_id])%>

  <%@current_section ||= session[:current_section_id]&&User.find_by_id(session[:current_section_id])%>


  <%assignments = Assignment.where(:section_id=>@current_section)%>

  <%students = User.where(:user_id=>@current_user)%>
  <p>
    <%=f.label :Assignment%><br/>
    <%=options_for_select(assignments)%>

  </p>

  <p>
    <%=f.label :Student%><br/>
    <%=options_for_select(students)%>

  </p>

  <p>
    <%=f.label :Grade%><br/>
    <%=f.text_field :grade_value%>
  </p>

  <p>
    <%=f.label :Comment%><br/>
    <%=f.text_field :comment%>
  </p>

  <p>
    <%=f.submit "Edit Grade"%>
  </p>

<%end%>
