<h1>Add a New Grade</h1>

<%=form_for @grade do |f|%>

  <%if @grade.errors.any? %>
     <h2>Error</h2>
     <ul>
       <% @grade.errors.full_messages.each do |message|%>
           <li><%=message%></li>

       <%end%>

     </ul>
  <%end%> 
  <p>
    <%=f.label :Assignment%><br/>
    <%=f.text_field :assignment_id%>

  </p>

  <p>
    <%=f.label :Student%><br/>
    <%=f.text_field :user_id%>

  </p>

  <p>
    <%=f.label :points%><br/>
    <%=f.text_field :grade_value%>

  </p>

  <p>
    <%=f.submit "Add a Grade"%>

  </p>


<%end%>
