<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>
  <%= @section.course_id %>
</p>

<p>
  <b>Section number:</b>
  <%= @section.section_id %>
</p>


<%= link_to 'Edit', edit_course_section_path(@section) %> |
<%= link_to 'Back', course_sections_path %>
