<h1>Courses<h1>

<hr>

<div id="courses" class="blocks-buttons">
  <% @course_sections.each do |cs| %>
    <div class="item" id="course_<%= cs[:course].course_id %>_section_<%= cs[:section].section_id %>">
      <div class="valign">
        <div class="title">
          <%= link_to cs[:course].number + ' ' + cs[:course].name, course_path(cs[:course], :section => cs[:section].section_id) %>
        </div>
        <div class="content">
          <% if is_professor? %>
            <%= link_to 'Attendance', attendances_path(:section => cs[:section].section_id, :date => DateTime.now.strftime(date_url_format)) %><br />
          <% end %>
          <%= link_to 'Assignments', assignments_path(:course => cs[:course].course_id) %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>

<script type="text/javascript">

$(document).ready(function() {
  $('#courses .item').click(function() {
    var course_id = $(this).attr('id').split('_')[1];
    var section_id = $(this).attr('id').split('_')[3];
    location.href = '/courses/' + course_id + '?section=' + section_id;
  })
});

</script>