<h1><%= @course.number %> <%= @course.name %></h1>

<hr>

<p class="top-right">
  <b>Section <%= @section.number %></b>
</p>

<p>
  <%= simple_format(@section.description) %>
</p>

<a href="<%= assignments_path(:course => @course.course_id) %>">
  <input class="btn btn-primary" type="button" value="Assignments" />
</a>

<% if is_professor? %>
  <a href="<%= attendances_path(:date => DateTime.now.strftime(date_url_format), :section => @section.section_id) %>">
    <input class="btn btn-primary" type="button" value="Attendance" />
  </a>
  <a href="<%= edit_section_path(params[:section], :course => @course.course_id) %>">
    <input class="btn btn-primary" type="button" value="Edit" />
  </a>
<% end %>

