<p id="notice"><%= notice %></p>

<p>
  <b>Course number:</b>
  <%= @course.number %>
</p>

<p>
  <b>Course name:</b>
  <%= @course.name %>
</p>

<p>
  <b><%= link_to 'Assignments', assignments_path(:course => @course.course_id) %></b>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
