<p id="notice"><%= notice %></p>

<p>
  <b>Course number:</b>
  <%= @course.number %>
</p>

<p>
  <b>Course name:</b>
  <%= @course.name %>
</p>

<p>
  <%= @section.description %>
</p>

<p>
  <b><%= link_to 'Assignments', assignments_path(:course => @course.course_id) %></b>
  <% if params.has_key?(:section) && can?(:manage, AssignmentGrade) %>
    | <b><%= link_to 'Edit', edit_section_path(params[:section], :course => @course.course_id) %></b>
  <% end %>
</p>

<%= link_to 'Back', courses_path %>
