<%= simple_form_for(@university) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :university_id %>
    <%= f.input :university_name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
