<script type="text/javascript">

// Example output: Notice the keys for the attendance hash are the user ids, and the
// attendance hash consists of the already set attendance values for the section
// on this date. Whenever the professor submits this data, the data in the attendances
// hash is what needs to be sent to the server.

// var data = {
//   section_id: 1,
//   class_date: "2013-04-15",
//   attendance: {
//     "7": { attendance: 1 },
//     "9": { attendance: 2 }
//   },
//   students: {
//     "7": { user_name: "student2" },
//     "9": { user_name: "student4" }
//   },
//   images: {
//     ...
//   }
// };

var data = {
  <%= raw attendance_json %>
  images: {
    present: '/attendance_present.png',
    absent:  '/attendance_absent.png',
    tardy:   '/attendance_tardy.png',
    excused: '/attendance_excused.png'
  }
};

// Displays the students when the page loads
function display_students() {
  for(var user_id in data.students) {
    var student = data.students[user_id];

    var student_div = $('<div class="student no_select"></div>')
      .html('<div class="student_name no_select">' + student.user_name + '</div>')
      .data('user_id', user_id)
      .css({opacity: 0.9 })
      .hover(function() {
          $(this).css({opacity: 1.0 })
        },
        function() {
          $(this).css({opacity: 0.9 })
        }
      )
      .click(function() {

        // 1 = present, 2 = absent, 3 = tardy, 4 = excused
        var attendance;

        // Rotate image
        if($(this).hasClass('present')) {
          $(this).removeClass('present').addClass('absent');
          attendance = 2;
        }
        else if($(this).hasClass('absent')) {
          $(this).removeClass('absent').addClass('tardy');
          attendance = 3;
        }
        else if($(this).hasClass('tardy')) {
          $(this).removeClass('tardy').addClass('excused');
          attendance = 4;
        }
        else {
          $(this).removeClass('excused').addClass('present');
          attendance = 1;
        }

        // Update our local records
        var user_id = $(this).data('user_id');
        data.attendance[user_id] = { attendance: attendance };

        // Send update to server
        $.ajax({
          url: 'attendances/alter?' +
                 'date=' + data.class_date + 
                 '&section=' + data.section_id +
                 '&user=' + user_id +
                 '&attendance=' + attendance,
          processData: false,
          dataType: 'json',
          success:function(a) {
            // var s = ''

            // for(var key in a) {
            //   s += key + ': ' + a[key] + '\n';
            // }

            // alert(s);
          },
          error:function() {
            $('#ajax_errors')
              .html('Failed to update the attendance.')
              .fadeOut(3000, function() {
                $('#ajax_errors').html('').css('display','block');
              }
            );
          }
        });
    });

    // If an attendance value has already been set for this student on this date
    if(data.attendance.hasOwnProperty(user_id)) {
      var attendance_value = data.attendance[user_id].attendance;

      switch(attendance_value) {
        case 1: student_div.addClass('present'); break;
        case 2: student_div.addClass('absent'); break;
        case 3: student_div.addClass('tardy'); break;
        case 4: student_div.addClass('excused'); break;
      }
    }
    else {
      student_div.addClass('present');

      // Load the rest of the students into the attendance hash as present
      data.attendance[user_id] = { attendance: 1 };
    }

    $('#students_container').append(student_div);
  }
}

// Preload the attendance images so there isn't a slight hesitation when
// the professor clicks on a student and the next image has to load.
function preload_images() {
  for(var key in data.images) {
    new Image().src = data.images[key];
  }
}

function setup() {

  $.ajaxSetup ({
    cache: false
  });

}

$(document).ready(function() {
  preload_images();
  setup();
  display_students();
});

</script>

Course: <%= Course.find_name_by_section_id(params[:section]) %><br />
Section: <%= Section.find_number_by_section_id(params[:section]) %><br />
Date: <%= format_date_from_url(params[:date]) %><br /><br />

Professor: <%= output_user_list(@professors) %><br />
TA: <%= output_user_list(@tas) %><br /><br />

<div id="students_container"></div>

<br style="clear: both;" />

<div id="ajax_errors"></div>
