<script type="text/javascript">

// Example output: Notice the keys for the attendance and student
// hashes are the user ids, and the attendance hash consists of
// the already set attendance values for the section on this
// date. Whenever the professor submits this data, the data in
// the attendance hash is what needs to be sent to the server.

// var data = {
//   section_id: 1,
//   class_date: "2013-04-15",
//   attendance: {
//     "7": { attendance: 1 },
//     "9": { attendance: 2 }
//   },
//   students: {
//     "7": { user_name: "student2" },
//     "9": { user_name: "student4" }
//   },
//   images: {
//     ...
//   }
// };

var data = {
  <%= raw attendance_json %>
  images: {
    present: '/images/attendance/present.png',
    absent:  '/images/attendance/absent.png',
    tardy:   '/images/attendance/tardy.png',
    excused: '/images/attendance/excused.png'
  }
};

$(document).ready(function() {
  attendance.init(data);
});

$(function() {
  // To be unable to select weekends: beforeShowDay: $.datepicker.noWeekends,
  $( "#datepicker" ).datepicker({ minDate: "-1Y", maxDate: "+0D", dateFormat: "yy-mm-dd",
    onSelect: function(dateText) {
      location.href = 'attendances?date=' + dateText + "&section=" + 2;
    }
  });
});

</script>

Course: <%= Course.find_name_by_section_id(params[:section]) %><br />
Section: <%= Section.find_number_by_section_id(params[:section]) %><br />
Date: <%= format_date_from_url(params[:date]) %> <br />

<% @pageDate = DateTime.parse(params[:date]) %>
<%= link_to "Previous Day", attendances_path(:section => params[:section], :date => @pageDate.prev_day().strftime(date_url_format)) %>
<% changingDate = DateTime.now %>
<% earliestDate = DateTime.now.prev_year() %>


<% if  @pageDate <= DateTime.now.prev_day()%>
<%= link_to "Next Day", attendances_path(:section => params[:section], :date => @pageDate.next_day().strftime(date_url_format)) %> 
<% end %> <br /><br />

Select Date: <input type="text" id="datepicker" /><br /><br />

Professor: <%= output_user_list(@professors) %><br />
TA: <%= output_user_list(@tas) %><br /><br />

<div id="students_container"></div>

<br style="clear: both;" />

<div id="ajax_errors"></div>
