<script type="text/javascript">

// Example output: Notice the keys for the attendance and student
// hashes are the user ids, and the attendance hash consists of
// the already set attendance values for the section on this
// date. Whenever the professor submits this data, the data in
// the attendance hash is what needs to be sent to the server.

// var data = {
//   section_id: 1,
//   class_date: "2013-04-15",
//   attendance: {
//     "7": { attendance: 1 },
//     "9": { attendance: 2 }
//   },
//   students: {
//     "7": { user_name: "student2" },
//     "9": { user_name: "student4" }
//   },
//   images: {
//     ...
//   }
// };

var data = {
  <%= raw attendance_json %>
  images: {
    present: '/images/attendance/present.png',
    absent:  '/images/attendance/absent.png',
    tardy:   '/images/attendance/tardy.png',
    excused: '/images/attendance/excused.png'
  }
};

$(document).ready(function() {
  attendance.init(data);
});

$(function() {
  // To be unable to select weekends: beforeShowDay: $.datepicker.noWeekends,
  $( "#datepicker" ).datepicker({ minDate: "-1Y", maxDate: "+0D", dateFormat: "yy-mm-dd",
    onSelect: function(dateText) {
      location.href = 'attendances?date=' + dateText + "&section=" + 2;
    }
  });
});

</script>

<table width="100%">
  <tr>
    <td width="50%">
      Course: <%= @course_name %><br />
      Section: <%= @section_number %><br />
      Date: <%= format_date_from_url(params[:date]) %>
    </td>
    <td width="50%" align="right">
      Professor: <%= output_user_list(@professors) %><br />
      TA: <%= output_user_list(@tas) %>
    </td>
  </tr>
</table>


<br />

<table width="100%">
  <tr>
    <td width="50%">
      <%= link_to "Previous Day", attendances_path(:section => params[:section], :date => @page_date.prev_day().strftime(date_url_format)) %>
    </td>
    <td width="50%" align="right">
      <% if @page_date <= DateTime.now.prev_day() %>
        <%= link_to "Next Day", attendances_path(:section => params[:section], :date => @page_date.next_day().strftime(date_url_format)) %> 
      <% end %>
    </td>
  </tr>
</table>

Select Date: <input type="text" id="datepicker" /><br /><br />
<br />

<div class="box">
  <div id="students_container"></div>
  <div class="clear"></div>
</div>

<br style="clear: both;" />

<div id="ajax_errors"></div>
