
<%= link_to "", root_path, :class => 'topnavleft' %>

<span class="topnavright">

<ul class="nav">
  <% if user_signed_in? %>


    <% if can? :read, AdminUser %>
      <li>
        <%= link_to 'Admin', admin_root_path %>
      </li>
    <% end %>

    <li>
      <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method =>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
    <li>
      <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
</ul>
</span>
