<%= link_to "Whiteboard", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
      <%= link_to 'Courses', courses_path %>
    </li>
    <li>
      <%= link_to 'Attendance', attendances_path %>
    </li>
    <li>
      <%= link_to 'Gradebook', grades_path %>
    </li>
    <li>
      <%= link_to 'Teacher Grades', teachergrades_path %>
    </li>
    <li>
      <%= link_to 'Admin', admin_root_path %>
    </li>
    <li>
      <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method =>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
    <li>
      <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
</ul>
