


<ul class="nav">
  <% if user_signed_in? %>

    <% if can? :read, Course %>
      <li>
        <%= link_to 'Courses', courses_path %>
      </li>
    <% end %>

    <% if can? :read, Assignment %>
      <li>
        <%= link_to 'Assignments', assignments_path %>
      </li>
    <% end %>

    <% if can? :read, Attendance %>
      <li>
        <%= link_to 'Attendance', attendances_path %>
      </li>
    <% end %>

    <% if can? :read, Grade %>
      <li>
        <%= link_to 'Gradebook', grades_path %>
      </li>
    <% end %>

    <% if can? :read, Teachergrade %>
      <li>
        <%= link_to 'Teacher Grades', teachergrades_path %>
      </li>
    <% end %>
<% else %>
<li>
Welcome&nbsp;to
</li>
<li>
Whiteboard
</li>

  <% end %>
</ul>
