<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Whiteboard" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Whiteboard" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  
  <body class="<%= controller_name %> <%= action_name %>">
    <header id="navbar">
      <div class="nav-table">
        <div class="nav-cell vertical">
          <%= render 'layouts/navigation' %>
        </div>
      </div>
    </header>

    <div id="main" role="main">
      <div id="topnav" class="body-row">
        <div class="nav">
          Something here.
        </div>
      </div>
      <div id="wrapper" class="body-row">
        <div id="content">
          <div class="bootstrap-styles">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
        <div id="sidebar">
          <%= render 'layouts/sidebar' %>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </body>
</html>
